.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

body {
    background-color: #444444;
	color: #E4E4E4;
	font-family: ‘Metrophobic’, Arial, serif; 
	font-weight: 400;
	font-size: 17px;
}

h1 {
	color: #ff5151;
	font-size: 50px;
	font-weight: 700;
}

h2 {
	color: #fff;
}
h3 {
	font-family: ‘Metrophobic’, Arial, serif; 
	vertical-align: top;
	font-weight: 700;
	color: #fff;
	line-height: 1.1em;
}

.interested a {
	color: #ff5151;
	border-bottom: #ff5151 2px solid;
	padding-bottom: 0;
}

.interested a:hover {
	color: #fff;
	border-bottom: #fff 3px solid;
	padding-bottom: 0;
	text-decoration:none;
}

.row-fluid{
	padding-top: 100px;
	padding-bottom: 100px;
	}

.navbar {
	background-color: #000;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: #fff;
}
.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
	color: #fff;
}

.dropdown-menu>li>a {
	color: #fff;
}

}
.navbar-nav>.dropdown>a:hover .caret, .navbar-nav>.dropdown>a:focus .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
color: #fff;
background-color: #000000;
}
.navbar-nav>.dropdown>a:hover .caret, .navbar-nav>.dropdown>a:focus .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}
.dropdown-menu {
	background-color: #000;
}

div.header {
	padding-top: 75px;
	background-color:#353535;
	border-bottom: #242424 solid 1px;
}

div.seperator {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 100%;
	border-bottom: #363636 solid 1px;
}

div.media {
	margin: 0;
}

div.media img {
	border: 7px solid #363636;
	margin: 0 50px 0 50px;
}

.column_left,
.column_middle,
.column_right {
	padding-left: 5px;
	padding-right: 5px;
}
.column_left,
.column_middle {
	border-right: #363636 solid 1px;
}

.btn-primary,
.btn-primary:hover {
	background-color: #9751ff;
	background-image: none;

}

div.header .btn-primary {
	position:absolute; bottom:0;
	}

.btn-login ,
.btn-login :hover{
	background-color: #ffcc51;
	background-image: none;
}

div.step {
	display:block;
	margin: 5px 2px 5px 0px;
	background-color: #353535;
}

div.step img {
	padding: 10px;
	margin-right: 3px;
	background-color: #E4E4E4;
}

div.interested {
	margin-top: 50px;
}

td, th {
display: table-cell;
vertical-align: inherit;
}

.table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.table th, .table td {
	
	text-align: left;
}